#about {
  padding: 40px;
  text-align: center;
}

@media (min-width: 768px) {
  #about {
    padding: 20px;
  }
}

#about .jumbotron {
  border-radius: 20px;
  padding: 40px;
  background-color: rgb(255,255,255, .1);
  max-width: 1035px;
  margin: 0 auto;
}

#brand {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

@media (min-width: 768px) {
  #about .jumbotron {
    padding: 20px;
  }
}

#home {
  background: linear-gradient(rgba(255,255,255,0.7), rgba(255, 255, 255, 0.7)), url(../../assets/img/RainbowBackground_Preview_03_rotated.jpg) no-repeat;
  background-size: cover;
}

#whatwedo {
  padding: 40px;
  margin: 0 auto;
}

#whatwedo .text-center {
  max-width: 1035px;
  margin: 0 auto;
}

#projects .container {
  padding: 20px;
}

#projects h1 {
  padding: 20px;
}

.nav-link.active {
  font-size: 18px;
}

.dropdown-toggle.nav-link {
  font-size: 18px;
}

.nav-link {
  font-size: 18px;
}

.nav-item {
  margin-right: 20px;
}

#options {
  padding: 60px;
  position: fixed;
  background-color: white;
  width: 100%;
}

.navbar-toggler {
}

#medicare {
  background: linear-gradient(rgb(153,244,130), rgb(248,251,104));
  /*background: yellow;*/
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}

#ent {
  background: linear-gradient(rgba(255,255,255,0.2), rgba(255, 255, 255, 0.0)), url(../../assets/img/ent.jpg) no-repeat;
  background-size: cover;
}

